.introduccion {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.introduccion h1 {
  font-size: 10rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.introduccion p {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: 0.5rem;
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
}

.contenedor_filtros {
  background-color: #ffdb58;
  padding: 20px;
  border-radius: 50px;
}

.contenedor_filtros input {
  background-color: transparent;
  border: none;
  color: #2c2c2c;
  font-size: 1.5rem;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
}

.contenedor_filtros input:focus {
  outline: none;
}

.contenedor_filtros input::placeholder {
  color: #2c2c2c;
}

.subtitulo {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.contenedor_peliculas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.contenedor_peliculas .pelicula {
  border-radius: 20px;
  width: 13rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.contenedor_peliculas .pelicula img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  filter: brightness(100%);
  transition: filter 0.5s ease-in-out;
}

.boton {
  background-color: transparent;
  border: 1px solid #ffdb58;
  color: #ffdb58;
  font-size: 1rem;
  padding: 5px;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.boton:hover {
  background-color: #ffdb58;
  color: #2c2c2c;
}

.contenedor_subtitulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boton_info {
  background-color: transparent;
  border: 1px solid #ffdb58;
  color: #ffdb58;
  font-size: 1rem;
  padding: 15px;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.boton_info:hover {
  background-color: #ffdb58;
  color: #2c2c2c;
}

.mala {
  background-color: red;
  color: white;
  position: absolute;
  z-index: 1;
  padding: 5px;
  border-radius: 20px;
  font-size: 1rem;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  margin-left: -10px;
}

.buena {
  background-color: #ffdb58;
  position: absolute;
  z-index: 1;
  color: #2c2c2c;
  padding: 5px;
  border-radius: 20px;
  font-size: 1rem;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  margin-left: -10px;
}

.buenisima {
  background-color: #2adb2a;
  position: absolute;
  z-index: 1;
  color: #2c2c2c;
  padding: 5px;
  border-radius: 20px;
  font-size: 1rem;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  margin-left: -10px;
}

.sinPortada {
  border-radius: 20px;
  width: 13rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border: 1px solid #ffdb58;
  justify-content: center;
  align-items: center;
}
