.portada {
  width: 90%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 40px;
  margin-bottom: 20px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.portada::before {
  content: "";
  width: 90%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.788);
  position: absolute;
  border-radius: 40px;
}

.backdrop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.poster {
  width: 30%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.poster img {
  width: 250px;
  border-radius: 40px;
  filter: drop-shadow(0px 0px 10px #000);
}

.valoracion {
  width: 100%;
}

.baja {
  align-items: center;
  background-color: red;
  border-radius: 50px;
  color: #2c2c2c;
  display: flex;
  filter: drop-shadow(0px 0px 10px red);
  font-size: 1rem;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  margin-left: 4%;
  margin-top: -1%;
  padding: 5px;
  position: absolute;
  width: 50px;
  z-index: 1;
}

.media {
  align-items: center;
  background-color: #ff8000;
  border-radius: 50px;
  color: #2c2c2c;
  display: flex;
  filter: drop-shadow(0px 0px 10px #ff8000);
  font-size: 1rem;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  margin-left: 4%;
  margin-top: -1%;
  padding: 5px;
  position: absolute;
  width: 50px;
  z-index: 1;
}

.alta {
  align-items: center;
  background-color: #2adb2a;
  border-radius: 50px;
  color: #2c2c2c;
  display: flex;
  filter: drop-shadow(0px 0px 10px #2adb2a);
  font-size: 1rem;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  margin-left: 4%;
  margin-top: -1%;
  padding: 5px;
  position: absolute;
  width: 50px;
  z-index: 1;
}

.datos {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  z-index: 2;
}

.descripcion {
  width: 70%;
}

.generos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.genero {
  align-items: center;
  background-color: #cbff8c;
  border-radius: 20px;
  color: #2c2c2c;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  margin-right: 1%;
  padding: 1%;
}

.actores {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.actores a {
  text-decoration: none;
  color: #cbff8c;
  position: relative;
}

.actores a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #cbff8c;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-out;
}

.actores a:hover::after {
  transform: scaleX(1);
}

.actores-lista {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  align-items: left;
  justify-content: left;
  width: 80%;
}

.actor {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.actores img {
  width: 200px;
  border-radius: 25px;
  object-fit: cover;
  margin: 10%;
}

.actores-lista::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.actores-lista::-webkit-scrollbar-track {
  background: #2c2c2c;
  border-radius: 10px;
}

.actores-lista::-webkit-scrollbar-thumb {
  background: #cbff8c;
  border-radius: 10px;
}

.actores-lista::-webkit-scrollbar-thumb:hover {
  background: #cbff8c;
}

.datosInformativos{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.trailer{
  text-align: center;
}

.trailer iframe{
  border: 1px solid #cbff8c;
  border-radius: 25px;
}

.productoras{
  text-align: center;
  margin-left: 10%;
}

.productora{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.productor{
  width: 200px;
  margin-right: 2%;
  margin-bottom: 2%;
  border: 1px solid #cbff8c;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  color: #cbff8c;
}